@page "/DeleteTrip/{TripName}"
@using BlazorApp1.Data
@inject Detailes DetailesService
@inject NavigationManager NavigationManager

<h3>Delete Trip</h3>
<hr />

<form>
    <div class="row">
        <div class="col_md-5">
            <div class="for-group">
                <label for="TripName" class="control-lable" Trip>Trip Name</label>
                <label>@trp.TripName</label>
            </div>
            <div class="for-group">
                <label for="StartDate" class="control-lable" Trip>Start Date</label>
                <label>@trp.StartDate</label>
            </div>
            <div class="for-group">
                <label for="End Date" class="control-lable" Trip>End Date</label>
                <label>@trp.EndDate</label>
            </div>
            <div class="for-group">
                <label for="Country" class="control-lable" Trip>Country</label>
                <label>@trp.Country</label>
            </div>
            <div class="for-group">
                <label for="City" class="control-lable" Trip>City</label>
                <label>@trp.City</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primry" @onclick="@DeleteTripRecord" value="Delete Trip" />
                <input type="button" class="btn btn-primry" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string TripName { get; set; }
    Trip trp;

    protected override async Task OnInitializedAsync()
    {
        trp = await DetailesService.GetTripByName(TripName);
    }

    protected async Task DeleteTripRecord()
    {
        await DetailesService.DeleteTrip(trp);
        NavigationManager.NavigateTo("/PastTrips");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/PastTrips");
    }

}
